body {
    font-family: droid-serif, Palatino, Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #32271B;
}
body {
    width: 700px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Lustria", serif;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-size: 70px;
}
h2 {
    margin-top: 55px;
}
h3 {
    margin: 30px 0 15px 0;
    padding-left: 30px;
}
h5 {
    margin: 40px 0 5px 0;
    padding-left: 30px;
    font-size: 18px;
}
p {
    line-height: 28px;
    text-align: justify;
}
pre {
    margin: 0;
    white-space: pre-wrap;
}
h1:hover {
    cursor: pointer;
}
h1:hover, .barbe, a, a:visited, a:active {
    color: #7B4A12;
}
a:hover {
    color: #BA6222;
}
ul {
    list-style: none;
}
ul li {
    margin-bottom: 15px;
}
sup {
    margin-left: 3px;
}

a.button {
    padding: 8px 16px;
    background-color: #7B4A12;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
a.button:active,
a.button:hover {
    background-color: #BA6222;
    color: #fff;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.none { display: none; }

.barbe-loader {
    width: 32px;
    height: 32px;
    background: url('./images/ajax-loader.gif') no-repeat;
}

header {
    margin: 50px 0;
}
.definition {
    font-size: 13px;
    font-style: italic;
}

code {
    font-family: Droid Sans Mono, monospace;
    line-height: 22px;
    font-size: 15px;
    white-space: pre-wrap;
}
.code, .result {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
}
.code {
    background-color: #ededed;
}
.code div.language, .result div.legend {
    font-family: Droid Sans Mono, monospace;
    float: right;
    color: #a3a3a3;
}
.comment {
    color: #0d911f;
}
.my_template {
    color: purple;
}
.my_anchor {
    color: #f56600;
}

.text-center {
    text-align: center;
}
footer {
    text-align: center;
    margin: 20px 0;
    padding: 20px 10px 0 10px;
    border-top: 1px solid #ededed;
}
footer ul, nav ul {
    margin: 0;
    padding: 0;
}
nav {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0;
    text-align: center;
    margin-top: 30px;
}
footer ul li, nav ul li {
    list-style-type: none;
    display: inline;
}
nav ul li {
    margin-right: 20px;
}
