body {
    font-family: droid-serif, Palatino, Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #32271B;
}
body {
    width: 700px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Lustria", serif;
    text-transform:capitalize;
}
h1 {
    font-size: 70px;
}
h2 {
    margin-top: 55px;
}
h3 {
    margin: 30px 0 15px 0;
    padding-left: 30px;
}
h5 {
    margin: 40px 0 5px 0;
}
p {
    line-height: 28px;
}
.barbe, a, a:visited, a:active {
    color: #7B4A12;
}
a:hover {
    color: #BA6222;
}

header {
    margin: 50px 0;
}
.definition {
    font-size: 13px;
    font-style: italic;
}

.code {
    line-height: 22px;
    font-size: 15px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #a3a3a3;
    background-color: #ededed;
    border-radius: 4px;
    font-family: Droid Sans Mono, monospace;
}
.comment {
    color: #0d911f;
}
footer {
    margin: 20px 0;
    padding: 20px 10px 0 10px;
    border-top: 1px solid #ededed;
}
footer ul {
    margin: 0;
    list-style: none;
}
